@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="collection-header">
    <div class="collection-hero">
        <div class="collection-hero__image">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner.jpg")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner.jpg")
                 style="object-fit: cover; background-position: top center; width: 100%; height: 100%;" alt="Thẻ bài pokemon"
                 title="Thẻ bài pokemon" />
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <div class="text-center mb-4">
                <h2 class="h2">Thẻ bài pokemon Shop</h2>
                <div class="rte-setting">
                    <p>
                        Thẻ bài pokemon shop được thành lập từ 2014, mở đầu cho sự xuất hiện thương hiệu tại
                        Việt Nam, là 1 trong các Store đầu tiên được thành lập. Đến năm 2017, thời điểm mở rộng
                        đến thị trường chính hãng tại Việt Nam, Thẻ bài pokemon shop chính thức trở thành hệ thống phân phối
                        chính hãng tại Việt Nam thông qua DigiWorld. Chính vì vậy, các sản phẩm tại Thẻ bài pokemon shop,
                        khách hàng
                        hoàn toàn an tâm về chất lượng và xuất xứ. Đến nay, với hơn 500 loại hình sản phẩm được phân
                        phối từ Digiworld và Mi.com, từ smartphone, các đồ gia dụng và phụ kiện thông minh, đến các sản
                        phẩm thời trang, Thẻ bài pokemon shop đã thành công đa dạng hóa mẫu mã để khách hàng có được trải
                        nghiệm mua
                        sắm tốt nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner.jpg")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner.jpg") alt="About Us" />
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner1.jpg")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner1.jpg") alt="About Us" />
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner3.jpg")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner3.jpg") alt="About Us" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Một trong những điều truyền cảm hứng nhất về Thẻ bài pokemon shop là sứ mệnh của chúng tôi: "Tạo ra trải
                nghiệm mua sắm tốt nhất, giúp mọi người trên thế giới sống tốt hơn". Điều này không chỉ là một câu nói,
                mà là cốt lõi của mọi quyết định chúng tôi đưa ra. Chúng tôi tin rằng mỗi sản phẩm, dịch vụ và quyết
                định của chúng tôi sẽ giúp mọi người trên thế giới sống tốt hơn. Đó là lý do tại sao chúng tôi không
                ngừng cải tiến và phát triển, để mang lại trải nghiệm mua sắm tốt nhất cho mọi người. Chúng tôi tin rằng
                mỗi sản phẩm, dịch vụ và quyết định của chúng tôi sẽ giúp mọi người trên thế giới sống tốt hơn. Đó là lý
                do tại sao chúng tôi không ngừng cải tiến và phát triển, để mang lại trải nghiệm mua sắm tốt nhất cho
                mọi người. Chúng tôi tin rằng mỗi sản phẩm, dịch vụ và quyết định của chúng tôi sẽ giúp mọi người trên
                thế giới sống tốt hơn. Đó là lý do tại sao chúng tôi không ngừng cải tiến và phát triển, để mang lại
                trải nghiệm mua sắm tốt nhất cho mọi người. Chúng tôi tin rằng mỗi sản phẩm, dịch vụ và quyết định của
                chúng tôi sẽ giúp mọi người trên thế giới sống tốt hơn. Đó là lý do tại sao chúng tôi không ngừng cải
                tiến và phát triển, để mang lại trải nghiệm mua sắm tốt nhất cho mọi người.
            </p>
            <p>+ Giờ bán hàng và nghe điện thoại : 8h30 đến 20h30 (tất cả các ngày trong tuần)</p>
            <p>+ ĐT liên hệ: 1900.6429 (nhánh 7)</p>
            <p>Chi nhánh Lĩnh Nam - HN</p>
            <p>+ Thời gian phục vụ :</p>
            <p>8h30 đến 12h00 / 13h đến 17h30 (t2 đến t7 / nghỉ CN)</p>
            <p>+ ĐT liên hệ: 1900.6429 (nhánh 5)</p>
            <p>Trả lời thắc mắc điện thoại, tin nhắn, coment trên fanpage facebook Cửa Hàng TCS</p>
            <p>+ Thời gian phục vụ : 8h30 đến 20h30 (tất cả các ngày trong tuần)</p>
            <p>Trả lời thắc mắc tin nhắn trên các kênh hợp tác shopee và lzd</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
            <h2 class="h2">ĐỊNH HƯỚNG CỦA CHÚNG TÔI</h2>
            <div class="rte-setting">
                Chúng tôi tin rằng với khả năng tư vấn, giao tiếp và cung cấp dịch vụ tốt nhất cho khách hàng sẽ dẫn đến
                kết quả tài chính vững mạnh và phát triển lâu dài. Thẻ bài pokemon đánh giá những yếu tố góp phần phát triển
                cho công ty ở 4 cấp độ:
                <ol>
                    <li><strong>Hiệu quả quản lý lãnh đạo</strong></li> Chúng tôi mong muốn lựa chọn, phát triển và giữ
                    chân những nhân
                    sự
                    tốt nhất
                    từ mọi bộ phận để thúc đẩy sự đổi mới phát triển chuyên môn, tập trung vào thành kiến vô thức cũng
                    như
                    sự đa dạng và hòa nhập. Thúc đẩy môi trường làm việc theo nhóm chuyên nghiệp. Không ngừng tái cơ cấu
                    quản lý, chia sẻ tích lũy kinh nghiệm để tạo ra hiệu quả giá trị cho công việc.
                    <li><strong>Tâm huyết với nghề</strong></li>Chúng tôi mong muốn lựa chọn, phát triển và giữ chân
                    những nhân sự tốt
                    nhất từ mọi
                    bộ phận để thúc đẩy sự đổi mới phát triển chuyên môn, tập trung vào thành kiến vô thức cũng như sự
                    đa
                    dạng và hòa nhập. Coi trọng, đánh giá và khen thưởng những người có đóng góp tuyệt vời cho công ty.
                    Xây
                    dựng những chính sách đãi ngộ tốt nhất cho nhân sự gắn bó lâu dài.
                    <li><strong>Giá trị của khách hàng</strong></li>Chúng tôi yêu thú cưng và chúng tôi tin rằng thú
                    cưng khiến chúng ta
                    trở thành
                    những người tốt hơn. Thẻ bài pokemon là đối tác đáng tin cậy của đối tác, khách hàng và thú cưng trong mọi
                    khoảnh khắc của cuộc sống. Hãy giữ cho khách hàng quay trở lại và đem lại những giá trị thiết thực
                    nhất.
                    <li><strong>Điều hành tăng trưởng lợi nhuận</strong></li>Chúng ta luôn muốn trải nghiệm những điều
                    mới và học hỏi từ
                    những sai
                    lầm cũ. Mỗi ngày là một cơ hội để trở nên tốt hơn. Đó chính là yếu tố quyết định sự phát triển của
                    doanh
                    nghiệp trong tương lai.
                </ol>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="h2">Contact Us</h2>
            <ul class="addressFooter">
                <li>
                    <i class="icon anm anm-map-marker-al"></i>
                    <p>55 Gallaxy Enque, 2568 steet, 23568 NY</p>
                </li>
                <li class="phone">
                    <i class="icon anm anm-phone-s"></i>
                    <p>(440) 000 000 0000</p>
                </li>
                <li class="email">
                    <i class="icon anm anm-envelope-l"></i>
                    <p>sales@yousite.com</p>
                </li>
            </ul>
            <hr />
            <ul class="list--inline site-footer__social-icons social-icons">
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Facebook">
                        <i class="icon icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Twitter">
                        <i class="icon icon-twitter"></i>
                        <span class="icon__fallback-text">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Pinterest">
                        <i class="icon icon-pinterest"></i>
                        <span class="icon__fallback-text">Pinterest</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Instagram">
                        <i class="icon icon-instagram"></i>
                        <span class="icon__fallback-text">Instagram</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Tumblr">
                        <i class="icon icon-tumblr-alt"></i>
                        <span class="icon__fallback-text">Tumblr</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on YouTube">
                        <i class="icon icon-youtube"></i>
                        <span class="icon__fallback-text">YouTube</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Vimeo">
                        <i class="icon icon-vimeo-alt"></i>
                        <span class="icon__fallback-text">Vimeo</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

